<% @user.errors.full_messages.each do |message| %>
  <div class="alert alert-danger">
    <%= message %>
  </div>
<% end %>
<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-xl-3 mx-auto">
      <div class="form-signin">
        <%= form_tag("/users/create") do %>
          <div class="form-group">
            <h1 class="h3 mb-3 font-weight-normal">Sign up</h1>
            <input class="form-control" name="name" placeholder="名前" value="<%= @user.name %>" required autofocus>
            <input class="form-control" name="email" placeholder="メールアドレス" value="<%= @user.email %>" required>
            <input type="password"  class="password form-control" name="password" placeholder="パスワード" value="<%= @user.password %>" required>
            <input type="submit" class="btn btn-primary btn-block" value="Sign up">
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>