<% @schedule.errors.full_messages.each do |message| %>
  <div class="alert alert-danger">
    <%= message %>
  </div>
<% end %>
<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-xl-6">
      <h2>スケジュール編集</h2>
      <%= form_tag("/schedules/#{@schedule.id}/update") do %>
        <div class="form">
          <div class="form-body">
            <p>開始時刻</p>
            <input type="datetime-local"  class="form-control" name="start_time" value="<%= @schedule.start_time.strftime("%Y-%m-%dT%H:%M") %>">
            <p>終了時刻</p>
            <input type="time" class="form-control" name="end_time" value="<%= @schedule.end_time.strftime("%H:%M") %>">
            <p>タイトル</p>
            <input  class="form-control" name="title" value="<%= @schedule.title %>">
            <p>概要</p>
            <textarea class="form-control" rows="5" name="abs"><%= @schedule.abs %></textarea>
            <p>参加メンバー</p>
            <% @group_users.each do |group_member| %>
              <% schedule_member_ids = ScheduleMember.where(schedule_id: @schedule.id).pluck("user_id") %>
              <div class="form-check form-check-inline">
                <% if schedule_member_ids.include?(group_member.id) %>  
                  <input type="checkbox" class="form-check-input" name="join_member_ids[]" value="<%= group_member.id %>" checked="checked">
                <% else %>
                  <input type="checkbox" class="form-check-input" name="join_member_ids[]" value="<%= group_member.id %>">
                <% end %>
                <label class="form-check-label">
                  <%= group_member.name %>
                </label>
              </div>
            <% end %>
            <input type="submit" class="btn btn-primary btn-block" value="保存">
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>