<% @schedule.errors.full_messages.each do |message| %>
  <div class="alert alert-danger">
    <%= message %>
  </div>
<% end %>
<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-xl-6">
      <h2>スケジュール作成</h2>
      <%= form_tag("/schedules/create") do %>
        <p>開始時刻</p>
        <input type="datetime-local" class="form-control" name="datetime" value="<%= @schedule.start_time.strftime("%Y-%m-%dT%H:%M") if @schedule.start_time %>" required>
        <p>終了時刻</p>
        <input type="time" class="form-control" name="end_time" value="<%= @schedule.end_time.strftime("%H:%M") if @schedule.end_time %>" required>
        <p>タイトル</p>
        <input class="form-control" name="title" value="<%= @schedule.title %>">
        <p>概要</p>
        <textarea class="form-control" rows="5" name="abs"><%= @schedule.abs %></textarea>
        <p>参加メンバー</p>
        <% @group_users.each do |group_member| %>
          <div class="form-check form-check-inline">
            <% if @join_member_ids && @join_member_ids.include?(group_member.id.to_s) %> <!-- TODO: くそコード:to_sで無理やり型合わせている-->
              <input type="checkbox" class="form-check-input" name="join_member_ids[]" value="<%= group_member.id %>" checked="checked">
            <% else %>
              <input type="checkbox" class="form-check-input" name="join_member_ids[]" value="<%= group_member.id %>">
            <% end %>
            <label class="form-check-label"><%= group_member.name %></label>
          </div>
        <% end %>
        <input type="submit" class="btn btn-primary btn-block" value="作成">
      <% end %>
    </div>
  </div>
</div>