<div class="schedule-wrapper">
    <div class="form-inline date">
        <%= form_tag("/schedules/date_update") do %>
            <select name="year" class="form-control">
                <% (1950..2050).each do |year| %>
                    <% if(year == @time.year) %>
                        <option value="<%= year %>" selected><%= year %></option>
                    <% else %>
                        <option value="<%= year %>"><%= year %></option>
                    <% end %>
                <% end %>
            </select>　年
            
            <select name="month" class="form-control">
                <% (1..12).each do |month| %>
                    <% if(month == @time.month) %>
                        <option value="<%= month %>" selected><%= month %></option>
                    <% else %>
                        <option value="<%= month %>"><%= month %></option>
                    <% end %>
                <% end %>
            </select>　月
            
            <select name="day" class="form-control">
                <% (1..31).each do |day| %>
                    <% if(day == @time.day) %>
                        <option value="<%= day %>" selected><%= day %></option>
                    <% else %>
                        <option value="<%= day %>"><%= day %></option>
                    <% end %>
                <% end %>
            </select>　日
            <input type="submit" class="form-control" value="更新">
        <% end %>
    </div>
    <ul class="schedule-number">
        <li>メンバー</li>
        <li><%= "#{@time.day}(#{%w(日 月 火 水 木 金 土)[@time.wday]})" %></li>
        <li><%= "#{@time.tomorrow.day}(#{%w(日 月 火 水 木 金 土)[@time.tomorrow.wday % 7]})" %></li>
        <li><%= "#{@time.tomorrow.tomorrow.day}(#{%w(日 月 火 水 木 金 土)[@time.tomorrow.tomorrow.wday % 7]})" %></li>
        <li><%= "#{@time.tomorrow.tomorrow.tomorrow.day}(#{%w(日 月 火 水 木 金 土)[@time.tomorrow.tomorrow.tomorrow.wday % 7]})" %></li>
        <li><%= "#{@time.tomorrow.tomorrow.tomorrow.tomorrow.day}(#{%w(日 月 火 水 木 金 土)[@time.tomorrow.tomorrow.tomorrow.tomorrow.wday % 7 ]})" %></li>
        <li><%= "#{@time.tomorrow.tomorrow.tomorrow.tomorrow.tomorrow.day}(#{%w(日 月 火 水 木 金 土)[@time.tomorrow.tomorrow.tomorrow.tomorrow.tomorrow.wday % 7 ]})" %></li>
        <li><%= "#{@time.tomorrow.tomorrow.tomorrow.tomorrow.tomorrow.tomorrow.day}(#{%w(日 月 火 水 木 金 土)[@time.tomorrow.tomorrow.tomorrow.tomorrow.tomorrow.tomorrow.wday % 7 ]})" %></li>
    </ul>
    <ul class="schedule-space">
        <% @group_users.each do |user_id| %>
            <% user = User.find_by(id: user_id) %>
            
            <li>
                <%= user.name %>
            </li>
            <li>
                <% @schedules.each do |schedule| %> 
                    <% if ScheduleMember.where(user_id: user.id).pluck("schedule_id").include?(schedule.id) %>
                        <%= link_to("#{schedule.start_time.strftime("%H:%M")} #{schedule.title}", "/schedules/#{schedule.id}") %>
                    <% end %>
                <% end %>
            </li>
            <li>
                <% @schedules2.each do |schedule| %>
                    <% if ScheduleMember.where(user_id: user.id).pluck("schedule_id").include?(schedule.id) %>
                        <%= link_to("#{schedule.start_time.strftime("%H:%M")} #{schedule.title}", "/schedules/#{schedule.id}") %>
                    <% end %>
                <% end %>
            </li>
            <li>
                <% @schedules3.each do |schedule| %>
                    <% if ScheduleMember.where(user_id: user.id).pluck("schedule_id").include?(schedule.id) %>
                        <%= link_to("#{schedule.start_time.strftime("%H:%M")} #{schedule.title}", "/schedules/#{schedule.id}") %>
                    <% end %>
                <% end %>
            </li>
            <li>
                <% @schedules4.each do |schedule| %>
                    <% if ScheduleMember.where(user_id: user.id).pluck("schedule_id").include?(schedule.id) %>
                        <%= link_to("#{schedule.start_time.strftime("%H:%M")} #{schedule.title}", "/schedules/#{schedule.id}") %>
                    <% end %>
                <% end %>
            </li>
            <li>
                <% @schedules5.each do |schedule| %>
                    <% if ScheduleMember.where(user_id: user.id).pluck("schedule_id").include?(schedule.id) %>
                        <%= link_to("#{schedule.start_time.strftime("%H:%M")} #{schedule.title}", "/schedules/#{schedule.id}") %>
                    <% end %>
                <% end %>
            </li>
            <li>
                <% @schedules6.each do |schedule| %>
                    <% if ScheduleMember.where(user_id: user.id).pluck("schedule_id").include?(schedule.id) %>
                        <%= link_to("#{schedule.start_time.strftime("%H:%M")} #{schedule.title}", "/schedules/#{schedule.id}") %>
                    <% end %>
                <% end %>
            </li>
            <li>
                <% @schedules7.each do |schedule| %>
                    <% if ScheduleMember.where(user_id: user.id).pluck("schedule_id").include?(schedule.id) %>
                        <%= link_to("#{schedule.start_time.strftime("%H:%M")} #{schedule.title}", "/schedules/#{schedule.id}") %>
                    <% end %>
                <% end %>
            </li>
                
        <% end %>
    </ul>
</div>