<div class="container-fluid">
    <div class="date">
        <%= form_tag("/schedules/top") do %>
            <select name="year" id="year">
                <% (1950..2050).each do |year| %>
                    <% if year == @time.year %>
                        <option value="<%= year %>" selected><%= year %></option>
                    <% else %>
                        <option value="<%= year %>"><%= year %></option>
                    <% end %>
                <% end %>
            </select>
            <label for="year">年</label>
            
            <select name="month" id="month">
                <% (1..12).each do |month| %>
                    <% if month == @time.month %>
                        <option value="<%= month %>" selected><%= month %></option>
                    <% else %>
                        <option value="<%= month %>"><%= month %></option>
                    <% end %>
                <% end %>
            </select>
            <label for="month">月</label>
        
            <select name="day" id="day">
                <% (1..31).each do |day| %>
                    <% if day == @time.day %>
                        <option value="<%= day %>" selected><%= day %></option>
                    <% else %>
                        <option value="<%= day %>"><%= day %></option>
                    <% end %>
                <% end %>
            </select>
            <label for="day">日</label>
            
            <input type="submit" class="btn-dark" value="更新">
        <% end %>
    </div>
    
    <table class="table table-hover table-responsive text-nowrap table-bordered table-height">
        <thead>
            <tr class="text-center">
                <th class="fcloumn-sticky"></th>
                <% @weekSchedules.each_with_index do |schedule, i|%>
                    <th scope="col" class="header-sticky"><%= "#{@time.since(i.days).day}(#{%w(日 月 火 水 木 金 土)[@time.since(i.days).wday % 7]})" %></th>
                <% end %>
            </tr>
        </thead>
        <tbody>
            <% @group_users.each do |user_id| %>
                <tr>
                    <% user = User.find_by(id: user_id) %>
                
                    <td class="fcolumn-sticky">
                        <%= user.name %>
                    </td>
                    <% @weekSchedules.each do |schedules| %>
                        <td>
                            <% schedules.each do |schedule| %>
                                <% if ScheduleMember.where(user_id: user.id).pluck("schedule_id").include?(schedule.id) %>
                                    <%= "#{schedule.start_time.strftime("%H:%M")}-#{schedule.end_time.strftime("%H:%M")}" %>
                                    <br>
                                    <%= link_to(schedule.title, "/schedules/#{schedule.id}") %>
                                    <br>
                                <% end %>
                            <% end %>
                        </td>   
                    <% end %>    
                </tr>
            <% end %>
        </tbody>
    </table>
</div>
