<div class="schedule-wrapper">
    <div class="form-inline date">
        <%= form_tag("/schedules/top") do %>
            <select name="year" class="form-control">
                <% (1950..2050).each do |year| %>
                    <% if year == @time.year %>
                        <option value="<%= year %>" selected><%= year %></option>
                    <% else %>
                        <option value="<%= year %>"><%= year %></option>
                    <% end %>
                <% end %>
            </select>　年
            
            <select name="month" class="form-control">
                <% (1..12).each do |month| %>
                    <% if(month == @time.month) %>
                        <option value="<%= month %>" selected><%= month %></option>
                    <% else %>
                        <option value="<%= month %>"><%= month %></option>
                    <% end %>
                <% end %>
            </select>　月
            
            <select name="day" class="form-control">
                <% (1..31).each do |day| %>
                    <% if(day == @time.day) %>
                        <option value="<%= day %>" selected><%= day %></option>
                    <% else %>
                        <option value="<%= day %>"><%= day %></option>
                    <% end %>
                <% end %>
            </select>　日
            <input type="submit" class="form-control" value="更新">
        <% end %>
    </div>
    <ul class="schedule-number">
        <li>メンバー</li>
        <% @weekSchedules.each_with_index do |schedule, i|%>
            <li><%= "#{@time.since(i.days).day}(#{%w(日 月 火 水 木 金 土)[@time.since(i.days).wday % 7]})" %></li>
        <% end %>
    </ul>
    <ul class="schedule-space">
        <% @group_users.each do |user_id| %>
            <% user = User.find_by(id: user_id) %>
            
            <li>
                <%= user.name %>
            </li>
            <% @weekSchedules.each do |schedules| %>
                <li>
                    <% schedules.each do |schedule| %>
                        <% if ScheduleMember.where(user_id: user.id).pluck("schedule_id").include?(schedule.id) %>
                            <%= link_to("#{schedule.start_time.strftime("%H:%M")} #{schedule.title}", "/schedules/#{schedule.id}") %>
                            <br>
                        <% end %>
                    <% end %>
                </li>   
            <% end %>
        <% end %>
    </ul>
</div>