<!DOCTYPE html>
<html>
  <head>
    <title>Naoi1st</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <ul>
        <li>Top</li>
        <li>About</li>
        <li>Services</li>
      </ul>
    </header>
    <%= yield %>
  </body>
</html>
