<!DOCTYPE html>
<html>
  <head>
    <title>Naoi1st</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
  <link href="https://fonts.googleapis.com/css?family=Noto+Sans+JP&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Amatic+SC:700 rel="stylesheet">
  </head>

  <body>
    <header>
      <ul>
        <% if @current_user %>
          <!--<li><%= link_to("Post", "/posts/new") %></li>-->
          <!--<li><%= link_to("Posts", "/posts/index") %></li>-->
          <li><%= link_to("Schedules", "/schedules/top") %></li>
          <li><%= link_to("Schedule", "/schedules/new") %></li>
          <!--<li><%= link_to("Users", "/users/index") %></li>-->
          <li><%= link_to("Settings", "/settings/group") %></li>
          <li><%= link_to("Sign out", "/logout", {method: :post}) %></li>
          <li><%=  "User: #{@current_user.name}" %></li>
          <% if @current_group %>
            <li><%= link_to("Group: #{@current_group.name}", "/groups/members") %></li>
          <% end %>
        <% else %>
          <li><%= link_to("Top", "/") %></li>
          <li><%= link_to("About", "/about") %></li>
          <li><%= link_to("Sign up", "/users/new") %></li>
          <li><%= link_to("Sign in", "/signin") %></li>
        <% end %>
      </ul>
    </header>
    <% if flash[:notice] %>
      <div class="alert alert-info">
        <%= flash[:notice] %>
      </div>
    <% end %>
    <%= yield %>
  </body>
</html>
